@charset "UTF-8";
body{
  margin: 4rem;
  font-size: 75%;
  line-height: 1.5;
}

/* 테이블 공통 디자인*/
table{
  border-collapse: collapse; /* 테두리 사이 공간이 제거 */
}

table, th, td{
  border: 1px solid #7045cf;
}

th,td{
  padding: 0.45em 1em;
}

th{
  text-align: left;
}
/*
디자이너의 요구상항: 표제목을 화면에서 감춤
접근성 준수사항: 화면에서 감추되 스크린리더는 읽음
*/
caption.readable-hidden{
overflow: hidden;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
}
